<div class="comment-card new-comment">
    <div class="flex-box">
        <div class="user-image">
            <img class="avatar" [src]="currentUser.image.png " alt="user-avatar" />
        </div>
        <div class="input-container">
            <textarea *ngIf="!replyTo" class="input-box" type="text" placeholder="Add a comment..."
                [(ngModel)]="content"></textarea>
            <textarea *ngIf="replyTo" class="input-box" type="text" placeholder="Reply @{{replyTo}}"
                [(ngModel)]="content"></textarea>
        </div>
        <button *ngIf="!replyTo" class="primary-btn" (click)="addNewComment()"> SEND </button>
        <button *ngIf="replyTo" class="primary-btn"  (click)="addNewComment()"> REPLY </button>
    </div>
</div>