<div class="comment-card-wrapper">
    <div class="grid-box">
        <div class="col-1">
            <counter></counter>
        </div>

        <div class="col-2">
            <div class="row-1">
                <div class="user-info">
                    <div class="user-img">
                        <img class="avatar" src="../../assets/images/avatars/image-amyrobson.png" alt="user-avatar" />
                    </div>
                    <div class="user-name">
                        <p> amyrobson </p>
                    </div>
                    <div class="comment-date">
                        <p> 1 month ago </p>
                    </div>

                </div>
                <div class="btn">

                    <p>
                        <svg width="14" height="13" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z"
                                fill="#5357B6" />
                        </svg>
                        Reply
                    </p>
                </div>
            </div>
            <div class="row-2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged. </div>
        </div>
    </div>
</div>