.comment-card {
    background-color: white;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 5px 3px 7px 0px rgba(224, 224, 224, 0.74);
    margin: 20px 0;
    position: relative;
}

.reply{
    width: 90%;
    margin-left: auto;
    margin-right: 0;
}

.flex-box {
    display: flex;
    gap: 30px;
}

.col-2 {
    display: flex;
    flex-direction: column;
}

.row-1 {
    display: flex;

    .user-info {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 15px;

        .user-name {
            color: hsl(238, 40%, 52%);
            p {
                font-weight: 500;
            }
        }

        .comment-date {
            color: hsl(211, 10%, 45%);
        }
    }
    .btn {
        color: hsl(238, 40%, 52%);
        position: absolute;
        right: 20px;
        p {
            font-weight: 500;
        }
    }
}

.row-2 {
    color: hsl(211, 10%, 45%);
    margin: 10px 0;
}

.avatar {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 600px) {
    .comment-card {
        padding: 20px;
    }

    .flex-box {
        flex-direction: column;
        gap: 0;
    }
    .btn {
        bottom: 20px;
    }
    .row-2 {
        padding-bottom: 30px;
    }

    .reply{
        width: 80%;
    }

}
